<div class="container-fluid">
  <h3>Design</h3>
  <div class="row">
    <% @design_post.first(3).each do |post| %>
    <div class="col-lg-4 col-md-4 col-sm-12 theme-image">
      <%= link_to post do %>
      <%= image_tag(post.image_url, class: "img img-fluid") %>
      <% end %>
    </div><!-- /col-lg-8 col-sm-12 -->
    <% end %>
  </div><!-- /row -->
</div><!-- /container-fluid -->
