<div class="footer-content">
  <p class="footer-text">© 2018 by <%= link_to "Design in China 设计在中国", root_path, class:"footer-em" %></p>
  <ul class="footer-nav">
    <li class="footer-text"><a href="http://www.chinadesign.com">www.chinadesign.com</a></li>
    <li class="footer-text">contact</li>
    <li class="footer-text">terms</li>
    <li class="footer-text">privacy</li>
  </ul>
</div>
