
<div class="container-fluid">
  <h3>Recipes</h3>
  <div class="row image-row">
    <% @recipe_post.first(3).each do |post| %>
    <div class="col-lg-4 col-md-6 col-sm-12 theme-image">
      <div class="image-container">
        <%= link_to post do %>
        <div class="portfolio-image"><%= image_tag(post.image_url, class: "img img-fluid") %></div>
      <% end %>
      </div>
    </div><!-- /col-lg-8 col-sm-12 -->
    <% end %>
  </div><!-- /row -->
</div><!-- /container-fluid -->
