<div class="container-fluid">
  <h3>About</h3>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 about-container">
      <%= image_tag 'about.270x270.jpg', class: "img img-fluid contact-img" %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <p><em>Design in China 设计在中国</em> is a blog about Design, photography and food in China. Having lived in Beijing for over 10 years I call this place my home. </br> Beeing a designer and a photographer I want to share all things new and traditional in this area. China is not a place where we would look for great design in the first place. But I believe that there is a great potential. Chinese characters are beatiful and visually diverse. There are traditional elements and then there are minority styles. There are colorful patterns of southern China, there are nomadic styles from tibetan and mongolian areas.
      </br></br>So why is this blog also about chinese food? Simply because I love it! And I think, like design, it doesn't have the reputation that it deserves yet. There is a unbelievable variety in dishes, tastes and ingredients. I have been thinking about writing a chinese book for some time. So this is a first start to share some recipes with you :).</br> To see my own work in Design and photography please visit <a href="http://www.julia-hofmann.com" target="_blank">www.julia-hofmann.com</a>
  </div>
</div>
</div>
