<div class="container-fluid">
  <h3>Hire me!</h3>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 hireme-image">
      <a href="http://www.julia-hofmann.com" target="_blank">  <%= image_tag 'JuliaHofmann-hireme.jpg', class: "img-fluid"%></a>
    </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
      <p class="hireme-text">I am a designer for web and print as well as an art photographer based between Berlin and Beijing. Contact me for projects connected with China and Asia. In aliquam sem fringilla ut morbi tincidunt augue interdum velit. Eu consequat ac felis donec et odio pellentesque diam volutpat. Ut etiam sit amet nisl purus in mollis. Sit amet purus gravida quis. Tristique magna sit amet purus gravida quis blandit. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Amet est placerat in egestas erat imperdiet sed. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin gravida. Velit sed ullamcorper morbi tincidunt. Viverra orci sagittis eu volutpat odio facilisis mauris sit. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Faucibus nisl tincidunt eget nullam. Lorem sed risus ultricies tristique. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero.
    Diam donec adipiscing tristique risus nec feugiat in fermentum. Gravida neque convallis a cras. Cras pulvinar mattis nunc sed blandit libero volutpat. Tellus pellentesque eu tincidunt tortor. Imperdiet massa tincidunt nunc pulvinar sapien. Viverra nibh cras pulvinar mattis nunc sed blandit. Augue interdum velit euismod in pellentesque massa placerat duis.
  </br> Have a look at my portfolio: <a href="http://www.julia-hofmann.com" target="_blank">www.julia-hofmann.com</a></p>
</div>


</div>
